
.hero-box{
    padding-top:22px;
    padding-bottom: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
  .imges-div{
    width: 1110px;
    height: 197px;
    background-color: black;
    display: flex;
    align-items:center;
    justify-content: center;
    border-radius: 30px;
    overflow: hidden;
  }